@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e2e2e2;
  --foreground: #171717;
  --grey: #d3d3d3;
  --lightGrey: #666666;
  --darkGrey: #111827;
  --black: #000000;
  --white: #ffffff;
  --darkGreen: #003e29;
  --green: #2bbb35;
  --blue: #1e71a6;
  --lightBlue: #9ac8e7;
  --red: #ff5733;
  --creme: #efeba7;
  --hoverLight: #f0f0f0;
  --hoverDark: #222;
}

.dark {
  --background: #161B22;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}

input::placeholder {
  text-transform: none;
}

.uppercase {
  text-transform: uppercase;
}
